# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1O9aE_Hen5smf_a6TsbVF6DM0ms4Ykj6s?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [29]:
# Passo 1: Abrir o navegador
from selenium import webdriver


navegador = webdriver.Chrome()
navegador.get("https://www.google.com/")

In [30]:
# Passo 2: Importar a base de dados
import pandas as pd   

tabela = pd.read_excel("commodities.xlsx")
display(tabela)

   Unnamed: 0   Produto  Preço Ideal  Preço Atual  Comprar
0           0     Milho        85.32        57.43     True
1           1      Soja       163.59       133.82     True
2           2       Boi       282.20       267.75     True
3           3  Petróleo       424.37       379.22     True
4           4   Algodão       497.76       390.52     True
5           5    Açúcar       136.23       148.92    False
6           6      Café      1092.87      1042.37     True
7           7      Ouro       321.77       315.32     True
8           8   Tilápia         9.05         9.64    False

In [31]:
import unicodedata
# Passo 3: Para cada produto da base de dados

for linha in tabela.index:
    produto = tabela.loc[linha, 'Produto']

    print(produto)    
    produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace(
    "ç", "c").replace("ú", "u").replace("é", "e")
    
    #entrar no site mlhor cambio: https://www.melhorcambio.com/milho-hoje
    link = f"https://www.melhorcambio.com/{produto}-hoje"
    navegador.get(link)


    #pega a cotação do milho
    cotacao = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    cotacao = cotacao.replace(".", "").replace(",",".")
    print(cotacao)
    tabela.loc[linha, "Preço Atual"] = float(cotacao)

print("acabou")
display(tabela)

Milho
57.43
Soja
133.82
Boi
267.75
Petróleo
379.22
Algodão
390.52
Açúcar
148.92
Café
1042.37
Ouro
315.32
Tilápia
9.64
acabou

   Unnamed: 0   Produto  Preço Ideal  Preço Atual  Comprar
0           0     Milho        85.32        57.43     True
1           1      Soja       163.59       133.82     True
2           2       Boi       282.20       267.75     True
3           3  Petróleo       424.37       379.22     True
4           4   Algodão       497.76       390.52     True
5           5    Açúcar       136.23       148.92    False
6           6      Café      1092.87      1042.37     True
7           7      Ouro       321.77       315.32     True
8           8   Tilápia         9.05         9.64    False

In [32]:
# preencher a coluna de comprar 

tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

# exportando a tabela para o excel
tabela.to_excel("commodities_atualizado.xlsx", index= False)

   Unnamed: 0   Produto  Preço Ideal  Preço Atual  Comprar
0           0     Milho        85.32        57.43     True
1           1      Soja       163.59       133.82     True
2           2       Boi       282.20       267.75     True
3           3  Petróleo       424.37       379.22     True
4           4   Algodão       497.76       390.52     True
5           5    Açúcar       136.23       148.92    False
6           6      Café      1092.87      1042.37     True
7           7      Ouro       321.77       315.32     True
8           8   Tilápia         9.05         9.64    False

In [33]:
navegador.quit()